<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, thank you for registering <%= @organization.name %> with Homeward Tails</h1>
    
    <p>
      You can access your site at URL: <a href="https://www.homewardtails.org/<%= @organization.slug %>">https://www.homewardtails.org/<%= @organization.slug %></a>
    </p>

    <p>
      username: <%= @user.email %> 
    </p>

    <p>
      Password: <%= @user.password %> 
    </p>

    <p>
      Please change your password after logging in. 
    </p>

    <strong>- Homeward Tails Team</strong>
  </body>
</html>
