<!DOCTYPE html>
<html>
  <body>
    <p>Hi Dev Team,</p>

    <p>We’ve got a new organization request! Here are the details:</p>

    <ul>
      <li><strong>Organization Name:</strong> <%= @organization_name %></li>
      <li><strong>Contact Name:</strong> <%= @requester_name %></li>
      <li><strong>Organization Phone Number:</strong> <%= @organization_phone %></li>
      <li><strong>Organization Email:</strong> <%= @organization_email %></li>
      <li><strong>Country:</strong> <%= @country %></li>
      <li><strong>City/Town:</strong> <%= @city_town %></li>
      <li><strong>Province/State:</strong> <%= @province_state %></li>
    </ul>

    <p>This organization will need a quick review. Once vetted, let’s chat with them about their preferred slug and kick off the service to get them set up.</p>

    <p>Thanks, everyone!</p>
  </body>
</html>

