<section class="pt-5 pb-5" id="partners">
  <div class="container mb-md-5 mt-md-5">

    <div class="mb-5">
      <h1 class="section-heading text-uppercase text-center"><%= t('.heading') %></h1>
      <div class="row p-6">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <%= link_to "https://www.rubyforgood.org", target: "_blank" do %>
            <%= image_tag 'rfg.png', alt: 'bugsnag_logo', class: "rounded", width: "170" %>
          <% end %>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <%= link_to "https://www.microsoft.com/en-us/nonprofits/azure", target: "_blank" do %>
            <%= image_tag 'azure.png', alt: 'azure_logo', width: "200" %>
          <% end %>
        </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <%= link_to "https://www.bugsnag.com", target: "_blank" do %>
            <%= image_tag 'bugsnag.png', alt: 'bugsnag_logo', class: "rounded", width: "170" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
