<% current_group_name = person.staff_current_group.name %>
<div class="dropdown <%= dom_id(person, :role)%>">
  <button
    class="
      btn btn-outline-secondary dropdown-toggle <%= "disabled" if person == Current.person%>
    "
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <%= current_group_name.titleize %>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if current_group_name == "super_admin" %>
      <%= button_to "Admin", staff_user_to_admin_path(person), class: "dropdown-item" %>
    <% end %>
    <% if current_group_name == "admin" %>
      <%= button_to "Super Admin",
      staff_user_to_super_admin_path(person),
      class: "dropdown-item" %>
    <% end %>
  </div>
</div>
