<div class="dropdown <%= dom_id(person, :role)%>">
  <button
    class="
      btn btn-outline-secondary dropdown-toggle <%= "disabled" if person == Current.person%>
    "
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <%= person.staff.current_group.name.titleize %>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if person.user.has_role?(:super_admin, Current.organization) %>
      <%= button_to "Admin", staff_user_to_admin_path(person.user), class: "dropdown-item" %>
    <% end %>
    <% if person.user.has_role?(:admin, Current.organization) %>
      <%= button_to "Super Admin",
      staff_user_to_super_admin_path(person.user),
      class: "dropdown-item" %>
    <% end %>
  </div>
</div>
