<div class="card">
  <!-- Table -->
  <div class="table-responsive">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col"><%= t(:name) %></th>
          <th scope="col"><%= t(:role) %></th>
          <th scope="col"><%= t(:joined_at) %></th>
          <th class="text-center" scope="col"><%= t(:deactivate) %></th>
        </tr>
      </thead>
      <tbody>
        <% staff.each do |staff| %>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <%= render AvatarComponent.new(staff.user) %>
                  <a href="#" class="position-absolute mt-5 ms-n4">
                    <span class="status bg-success"></span>
                  </a>
                </div>
                <h5 class="mb-0 ms-3"><%= "#{staff.full_name}" %></h5>
              </div>
            </td>
            <td>
              <%= render "role", staff: staff %>
            </td>
            <td>
              <%= staff.created_at.strftime("%d %B, %Y") %>
            </td>
            <td>
              <%= render "organizations/staff/shared/deactivate_toggle",
              person: staff,
              group: staff.current_staff_group %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
