<turbo-frame id="results">
    <% if import.success? %>
        <h5 role="alert"><%= t('.success_heading', count: import.count) %></h5>
    <% else %>
        <h5 role="alert"><%= t('.error_heading', count: import.errors.count) %></h5>
         <p><%= t('.submissions_added', count: import.count) %></p>
         <%= t('.review_errors', count: import.count) %>
         <ul>
             <% import.errors.each do |error| %>
                <li>
                    <%= t('.row', number: error[0], message: error[1].message) %>
                </li>
             <% end %>
         </ul>
    <% end %>
</turbo-frame>
