<div class="card">
  <!-- table -->
  <div class="table-responsive overflow-y-hidden">
    <table class="table mb-2 text-nowrap table-hover table-centered">
      <thead>
      <tr>
        <th scope="col"><%= t("organizations.staff.form_submissions.action") %></th>
        <th scope="col"><%= t("organizations.staff.form_submissions.form_submitted") %></th>
        <th scope="col"><%= t("organizations.staff.form_submissions.import_date") %></th>
      </tr>
      </thead>

      <tbody>
        <% form_submissions.each do |form_submission| %>
          <tr>
            <td>
              <%= link_to t("organizations.staff.form_submissions.view_submission"), staff_form_submission_form_answers_path(form_submission), data: { turbo_frame: "form_answers" } %>
            </td>
            <td>
             <p class="mb-0"><%= form_submission.csv_timestamp.strftime("%Y-%m-%d") %> at <%= form_submission.csv_timestamp.strftime("%H:%M") %></p>
            </td>
            <td>
              <p class="mb-0"><%= form_submission.created_at.strftime("%Y-%m-%d") %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
