<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1><%= @user.first_name %>, thank you for signing up with <%= @organization.name %></h1>

      <p>Please complete the following steps if you would like to adopt a pet.</p>

    <ol>
      <li>Complete the adopter questionnaire</li>
      <li>Browse available pets and find one that is a good fit for you</li>
      <li>Click on the 'Apply' button on your favourite pet's page</li>
      <li>Check the Applications page for a summary of your applications</li>
      <li>Await contact from us for a conversation about you, the pet, and the process</li>
    </ol>

    <strong>Still have questions?</strong>
    <p>Check out the <%= link_to "FAQ page", faq_index_url(script_name: "/#{@organization.slug}"), target: "_blank" %>.</p>
    <p>Again, thank you for signing up! People like you help these pets live their best life.</p>

    <strong>- <%= @organization.name %> Team</strong>
    <br>
    <a href=<% @org_root %>>www.homewardtails.org/<%= @organization.slug %></a>
  </body>
</html>