<%= bootstrap_form_with model: custom_page, :url => staff_custom_page_path(@custom_page), method: :patch do |form| %>
  <div class="row mt-3">
    <div class="col-lg-6 ">

      <h3 class="my-3"><%= t(".details_header") %>
      </h3>

      <div class="card p-3">
        <div class="mb-6">
          <div class="form-group">
            <%= form.text_field :hero,
                            label: "Hero",
                            autofocus: true,
                            placeholder: "hero text",
                            class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.file_field :hero_image, label: "Hero Image", class: "form-control" %>
          </div>
          <small class="form-text text-muted">
            <%= t(".image_requirements") %>
          </small>
        </div>

        <div class="my-6">
          <div class="form-group">
            <%= form.text_area :about,
                           label: "About Us",
                           placeholder: "About Us text",
                           class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.file_field :about_us_images,
                            multiple: true,
                            accept: "image/png, image/jpeg",
                            label: "About Us Images",
                            class: "form-control" %>
            <% @custom_page.about_us_images.each do |image| %>
              <%= form.hidden_field :about_us_images, multiple: true, value: image.signed_id %>
            <% end %>
            <small class="form-text text-muted"><%= t(".upload_limit") %>
              <br>
              <%= t(".image_requirements") %>
            </small>
          </div>
        </div>

        <div class="my-6">
          <h3>Adoptable Pet Information</h3>
          <div class="col-lg-6 form-group">
            <%= form.text_area :adoptable_pet_info,
                           label: "Information for adopters",
                           placeholder: "Anything you would like adopters to know?",
                           class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-12">
          <%= form.submit "Save", class: "btn btn-primary" %>
          <%= link_to t("general.cancel"), :back, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>

    <div class=" col-lg-6 col-12 d-none d-lg-flex flex-column align-items-center">
      <h4><%= t(".view_changes") %>
      </h4>
      <p><%= t(".changes_must_be_saved") %>
      </p>
      <div class="col-10 shadow-lg mb-auto" style="max-width: 500px">
        <%= link_to home_index_path, class: "d-inline-block",
                                data: { turbo_method: :get,
                                        turbo_confirm: t(".unsaved_changes") } do %>
          <%= image_tag(
            "custom_page_hero.png",
            class: "w-100",
            style: "border: 3px solid #754FFE; transition: filter 0.3s;",
            onmouseover: "this.style.filter='brightness(70%)'",
            onmouseout: "this.style.filter='brightness(100%)'",
          ) %>
        <% end %>

        <%= image_tag("custom_page_adopt.png", class: "w-100") %>

        <%# Using turbo confirm strips the anchor from the url. %>
        <%# This is resolved by disabling turbo and adding the onclick to display the confirm message %>
        <%= link_to home_index_path(anchor: "about_us"), 
                                    class: "d-inline-block",
                                    data: { turbo: :false},
                                    onclick: "return confirm('#{t(".unsaved_changes")}' );" do %>
          <%= image_tag(
            "custom_page_about_us.png",
            class: "w-100",
            style: "border: 3px solid #754FFE; transition: filter 0.3s;",
            onmouseover: "this.style.filter='brightness(70%)'",
            onmouseout: "this.style.filter='brightness(100%)'",
          ) %>
        <% end %>
        <% pet_show_message =
          (
            if @example_pet
              t(".unsaved_changes")
            else
              "#{t(".pet_show_info")} #{t(".unsaved_changes")}"
            end
          ) %>
        <% pet_show_path =
          @example_pet ? adoptable_pet_path(@example_pet) : staff_pets_path %>

        <%= link_to pet_show_path, class: "d-inline-block", 
          data: { turbo_method: :get, turbo_confirm: pet_show_message } do %>
          <%= image_tag(
            "custom_page_adoptable_pet.png",
            class: "w-100 mt-5",
            style: "border: 3px solid #754FFE; transition: filter 0.3s;",
            onmouseover: "this.style.filter='brightness(70%)'",
            onmouseout: "this.style.filter='brightness(100%)'",
          ) %>

        <% end %>
      </div>
      <%= render partial: "organizations/shared/tooltip",
      locals: {
        text: t(".pet_show_info"),
      } %>

    </div>
  </div>

<% end %>
