<%= render DashboardPageComponent.new do |c| %>
  <% c.with_body do %>
    <div class="justify-content-md-between">
      <div class="row d-flex">
        <div class=" col-xxl-5 col-xl-6 col-lg-6 col-12">
          <div>
            <h1 class="fw-bold"><%= t('.header', organization_name: @organization.name) %></h1>
            <p class="fs-4 mb-4"><%= t('.body_text', organization_name: @organization.name) %></p>
            <%= render partial: "organizations/shared/unique_species", locals: { adoptable_unique_species: @adoptable_unique_species } %>
          </div>
        </div>
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-12 d-lg-flex justify-content-end">
          <div class="mt-6 mt-lg-0 position-relative">
            <%= image_tag 'dashboard.webp', alt: 'pet_image', class: 'img-fluid rounded-2 w-100 z-1 position-relative' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
