<%= turbo_stream.replace_all ".notes-display-#{@context}-#{@notable.id}" do %>
  <span title="<%= @notable.notes %>" class="notes-display-<%= @context %>-<%= @notable.id %>">
    <% if @context == 'applications' %>
      <%= @notable.notes&.truncate(8) %>
    <% else %>
      <%= @notable.notes&.truncate(20) %>
    <% end %>
  </span>
<% end %>

<%= turbo_stream.replace "flash", partial: "layouts/shared/flash_messages" %>
