<div class="col-xl-3 col-lg-6 col-md-6 col-12 p-2">
  <!-- Card -->
  <%= link_to staff_person_path(person) do %>
    <div class="card mb-4">
      <!-- Card body -->
      <div class="card-body">
        <div class="text-center">
          <div class="position-relative">
            <%= render AvatarComponent.new(person, size: :xl) %>
          </div>
          <h4 class="mb-0"><%= "#{person.full_name}" %></h4>
        </div>
        <div class="d-flex justify-content-between border-bottom py-2">
          <span><%= t(:joined) %></span>
          <span><%= person.created_at.strftime("%d %B, %Y") %></span>
        </div>

        <div class="pe-4">
          <div class="d-flex justify-content-between pt-3">
            <p class="fw-bold">Adopter</p>
            <div class="text-center">
              <%= render(GroupStatusComponent.new(person: person, group_names: :adopter)) %>
            </div>
          </div>

          <div class="d-flex justify-content-between pt-3">
            <p class="fw-bold">Fosterer</p>
            <div class="text-center">
              <%= render(GroupStatusComponent.new(person: person, group_names: :fosterer)) %>
            </div>
          </div>

          <div class="d-flex justify-content-between pt-3">
            <p class="fw-bold">Staff</p>
            <div class="text-center">
              <%# This component defaults to the first group name given when building the "add group" button %>
              <%# We set the defualt to "admin" here  as it's the least privileged. %>
              <%= render(
                GroupStatusComponent.new(person: person, group_names: %i[admin super_admin]),
              ) %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
