<div class="card">
  <!-- Table -->
  <div class="table-responsive">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col"><%= t(:name) %></th>
          <th class="text-center" scope="col"><%= t(:joined_at) %></th>
          <th class="text-center" scope="col">Adopter</th>
          <th class="text-center" scope="col">Fosterer</th>
          <th class="text-center" scope="col">Staff</th>
        </tr>
      </thead>
      <tbody>
        <% people_accounts.each do |person| %>
          <tr>
            <td>
              <%= link_to staff_person_path(person) do %>
                <div class="d-flex align-items-center">
                  <div class="position-relative">
                    <%= render AvatarComponent.new(person) %>
                  </div>
                  <h5 class="mb-0 ms-3"><%= "#{person.full_name}" %></h5>
                </div>
              <% end %>
            </td>
            <td class="text-center">
              <%= person.created_at.strftime("%d %B, %Y") %>
            </td>

            <td class="text-center">
              <%= render(GroupStatusComponent.new(person: person, group_names: :adopter)) %>
            </td>

            <td class="text-center">
              <%= render(GroupStatusComponent.new(person: person, group_names: :fosterer)) %>
            </td>

            <td class="text-center">
              <%= render(
                GroupStatusComponent.new(person: person, group_names: %i[admin super_admin]),
              ) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
