<div class="row">
  <div class="col-md-8 mx-auto card p-5 bigger">
    <%= bootstrap_form_with model: @person do |form| %>
      <div class='form-group'>
        <%= form.text_field :first_name, value: @person.first_name, class: "form-control" %>
      </div>

      <div class='form-group'>
        <%= form.text_field :last_name, value: @person.last_name, class: "form-control" %>
      </div>

      <div class='form-group'>
        <% frame_id = dom_id(@person, "phone_turbo_frame") %>
        <% if turbo_frame_request_id = frame_id %>
          <%= turbo_frame_tag frame_id do %>
            <%= form.telephone_field :phone_number,
                                 value: @person.phone_number,
                                 hide_label: true,
                                 class: "form-control" %>
            <%= link_to "Cancel", staff_person_path(@person) %>
            <%= form.submit t("general.save"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <%= form.submit t("general.save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
