<%= render DashboardPageComponent.new(crumb: :people) do |c| %>
  <% c.with_header_title { t(:people) } %>
  <% c.with_body do %>
    <h3 class="m-2"><%= @person.user.full_name %></h3>  
    <nav>

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-details"
          data-bs-toggle="tab"
          data-bs-target="#details"
          type="button"
          role="tab"
          aria-controls="nav-details"
          aria-selected="true"
        >Details</button>
        <button
          class="nav-link"
          id="nav-form-submissions"
          data-bs-toggle="tab"
          data-bs-target="#form_submissions"
          type="button"
          role="tab"
          aria-controls="nav-details"
          aria-selected="true"
        >Form Submissions</button>
      </div>
    </nav>
    <div class="tab-content p-3" id="nav-tabContent">
      <%= turbo_frame_tag "details",
        class: "tab-pane fade show active", 
        role:"tabpanel",
        aria_labelledby:"details",
        tabindex:"0" do %>
        <%= render "form", person: @person %>
      <% end %>
      <%= turbo_frame_tag "form_submissions",
        src: staff_person_form_submissions_path(@person),
        loading: "lazy",
        class: "tab-pane fade", 
        role:"tabpanel",
        aria_labelledby:"form_subbmissions",
        tabindex:"0" do %>
      <% end %>
    </div>
    </div>

  <% end %>
<% end %>
