<%= render DashboardPageComponent.new(crumb: :dashboard_applications, crumb_options: [@application]) do |c| %>
  <% c.with_header_title { t(:form_answers) } %>
  <% c.with_body do %>
    <div class="mb-3 border-bottom pb-2">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <span class="fw-bold"><%= @application.person.full_name %></span>
          <div>
            <%= mail_to @application.person.email, @application.person.email, class: "link-underline link-underline-opacity-0" %>
          </div>
        </div>
      </div>
    </div>
    <% @form_answers.each do |form_answer| %>
      <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <div class="card">
        <div id="<%= dom_id form_answer %>"class="card-body d-flex flex-sm-row flex-column justify-content-between border-bottom">
          <div class="d-flex align-items-center">
            <div>
              <strong class="fs-4" >Q: <%= form_answer.question_snapshot %></strong>
              <p class="mb-0">A: <%= form_answer.value %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
