<%= render DashboardPageComponent.new do |c| %>
  <% c.with_header_title { "Edit my user settings" } %>
  <% c.with_body do %>
    <%# FIXME: Cleanup Html %>
    <section class="pb-5" id="registration_new">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto card p-5">
          <div class="mb-4">
            <div class='d-flex justify-content-center'>
              <div class='d-flex flex-column align-items-center mb-3'>
                <%= image_tag "brand/pet-rescue.png", class: 'mb-0', alt: 'logo-icon', height: 200, width: 200 %>
                <h1 class='text-muted'><%= Current.organization.name %></h1>
              </div>
            </div>
            <p>You must agree to the terms of services before continuing with this service.</p>
          </div>
          <div>
            <% if flash[:alert] %>
              <div class="alert alert-danger" role="alert">
                <%= alert %>
              </div>
            <% end%>
          </div>
            <%= bootstrap_form_with model: @user, url: agreement_path, method: :put do |f| %>
              <%= f.check_box :tos_agreement, required: true do %>
                <span>I agree to the </span>
                <%# NOTE: Might be nice to change these to modal targets. %>
                <%= link_to 'Terms and Conditions', terms_and_conditions_path,
                            target: '_blank', class: 'text-decoration-none' %>
                <span>& </span>
                <%= link_to 'Privacy Policy', privacy_policy_path,
                            target: '_blank', class: 'text-decoration-none' %>
                <span>& </span>
                <%# NOTE: Do we need cookie policy here? Cookie agreements are usually separate. %>
                <%= link_to 'Cookie Policy', cookie_policy_path,
                            target: '_blank', class: 'text-decoration-none' %>
              <% end %>
              <div class="actions">
                <%= f.submit "Update",
                         class: "btn btn-outline-dark mt-3 mb-3",
                         data: {
                           turbo: false,
                         } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
