<%= bootstrap_form_with model: user, url: invitation_path(user) do |form| %>
  <div class="card">
    <div class="card-header">
      Foster Details
    </div>

    <div class="card-body">
      <!-- form -->
      <div class="vstack gap-4">
        <!-- form group -->
        <div class="input-group">
          <%= form.text_field :first_name,
                          class: "form-control",
                          wrapper_class: "w-100",
                          required: true %>
        </div>
        <!-- form group -->
        <div class="input-group me-3">
          <%= form.text_field :last_name,
                          class: "form-control",
                          wrapper_class: "w-100",
                          required: true %>
        </div>
        <!-- form group -->
        <div class="input-group">
          <%= form.text_field :email,
                          class: "form-control",
                          required: true,
                          wrapper_class: "w-100" %>
        </div>

        <%= form.hidden_field :roles, value: :fosterer %>
      </div>
    </div>

    <div class="card-footer">
      <%= form.submit t("general.send_invite"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
