<section class="pt-5 pb-5">
  <div class="container mb-md-5 mt-md-5 ">
    <div class="container mb-md-5 mt-md-5">
      <div class="text-center mb-5">
        <h1 class="section-heading text-capitalize underline">
          <%= t('.header') %>
        </h1>
      </div>
    </div>

    <div class='mb-3 text-center bigger'>
      <%= t('.description') %>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto card p-5">
      <%= bootstrap_form_with model: Organization, :url => organization_account_requests_path do |form| %>
        <% if @organization_acccount_request.errors.count > 0 %>
          <div class="alert alert-danger mt-1" role="alert">
            <%= t('organizations.staff.organizations.form.please_fix_the_errors') %>
          </div>
          <ul>
            <% @organization_acccount_request.errors.full_messages.each do |message| %>
              <div class="alert alert-danger mt-1" role="alert">
                <%= message %>
              </div>
            <% end %>
          </ul>
        <% end %>

        <div class='card-body'>
          <div class="row mt-3">
            <div class="col-lg-6" data-controller="slug-from-title">
              <form class="mb-3">

                <div class="form-group">
                  <%= form.text_field :name,
                    label: 'Organization name',
                    class: 'form-control',
                    data: {
                      slug_from_title_target: 'title',
                      action: 'keyup->slug-from-title#updateSlug'
                    } %>
                </div>

                <div class="form-group">
                  <%= form.text_field :slug, label: 'Subdomain', class: 'form-control', data: { slug_from_title_target: 'slug' } %>
                </div>

                <div class="form-group">
                  <%= form.text_field :requester_name, label: 'Your name', class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= form.telephone_field :phone_number,
                                          autofocus: true,
                                          label: 'Organization phone number',
                                          placeholder: "10 digit number",
                                          class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= form.email_field :email, label: 'Organization email', placeholder: "john@email.com", class: 'form-control' %>
                </div>
              </form>
            </div>

            <div class="col-lg-6">

              <div class="form-group bigger" data-controller="country-state">
                <% location = @organization_acccount_request.locations.build %>
                <%= form.fields_for :locations, location do |location_form| %>
                  <%= location_form.select :country,
                                      CS.countries.invert,
                                      { prompt: "Please select" },
                                      data: {
                                        path: country_states_path(:country),
                                        country_state_target: 'country',
                                        action: 'change->country-state#updateStates',
                                        initial_value: location_form.object.country,
                                      },
                                      required: true,
                                      class: 'form-control' %>

                  <%= location_form.select :province_state,
                                      CS.states(location_form.object.country).invert,
                                      { prompt: "Please select" },
                                      data: {
                                        country_state_target: 'state',
                                      },
                                      required: true,
                                      class: 'form-control' %>

                  <%= location_form.text_field :city_town, class: 'form-control' %>
                <% end %>
              </div>
            </div>

          <div class="row mt-3">
            <div class="col-lg-12">
              <%= form.submit t('general.submit'), class: 'btn btn-primary' %>
              <%= link_to t('general.cancel'), :back, class: 'btn btn-outline-secondary' %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</section>

